<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Multishipping checkout billing information
 *
 * @see Mage_Checkout_Block_Multishipping_Billing
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="row flush">
    <div class="small-12 checkout-multishipping columns">
        <div class="page-title">
            <h2 class="center"><?php echo $this->__('Billing Information') ?></h2>
        </div>
        <script src="<?php echo Mage::getBaseUrl('js') ?>varien/payment.js" type="text/javascript"></script>
        <div class="form-box wide">
            <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="multishipping-billing-form">
                <div class="row">
                    <div class="small-12 columns">
                        <h3><?php echo $this->__('Billing Address') ?> <span class="separator">|</span> <a class="icon-edit" href="<?php echo $this->getSelectAddressUrl() ?>" title="<?php echo $this->__('Change') ?>"><span class="hide"><?php echo $this->__('Change') ?></span></a></h3>
                        <?php $_address=$this->getAddress() ?>
                        <address><?php echo $_address->format('html') ?></address>
                    </div>
                    <div class="small-12 payment-methods columns">
                        <h3><?php echo $this->__('Payment Method') ?></h3>
                        <div class="tool-tip" id="payment-tool-tip" style="display:none;">
                            <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
                            <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
                        </div>
                        <!-- Payment methods forms list -->
                        <dl class="sp-methods">
                        <?php
                            $_methods       = $this->getMethods();
                            $_methodsCount  = count($_methods);
                        ?>
                        <?php foreach ($_methods as $_method): $_code = $_method->getCode() ?>
                            <dt>
                                <?php if ($_methodsCount > 1): ?>
                                <input type="radio" id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" name="payment[method]" title="<?php echo $this->escapeHtml($_method->getTitle()) ?>" onclick="payment.switchMethod('<?php echo $_code ?>')"<?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> class="radio" />
                                <?php else :?>
                                <span class="no-display"><input type="radio" id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" name="payment[method]" checked="checked" class="radio" /></span>
                                <?php endif;?>
                                <label for="p_method_<?php echo $_code ?>"><?php echo $this->escapeHtml($_method->getTitle()) ?></label>
                            </dt>
                            <?php if($html = $this->getChildHtml('payment.method.'.$_code)) : ?>
                            <dd>
                                <?php echo $html; ?>
                            </dd>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        </dl>
                        <?php echo $this->getChildHtml('checkout_billing_items') ?>
                    </div>
                </div>
                <div class="buttons-set">
                    <button id="payment-continue" type="submit" title="<?php echo $this->__('Continue to Review Your Order') ?>" class="button"><span><span><?php echo $this->__('Continue to Review Your Order') ?></span></span></button>
                    <a class="arrow-left" href="<?php echo $this->getBackUrl() ?>"><?php echo $this->__('Back to Shipping Information') ?></a>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var payment = new paymentForm('multishipping-billing-form');
    function toggleToolTip(event){
        if($('payment-tool-tip')){
            /*$('payment-tool-tip').setStyle({
                top: (Event.pointerY(event)-510)+'px',
                left: (Event.pointerX(event)-800)+'px'
            })*/
            $('payment-tool-tip').toggle();
        }
        Event.stop(event);
    }
    if($('payment-tool-tip-close')){
        Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
    }
    $$('.cvv-what-is-this').each(function(element){
        Event.observe(element, 'click', toggleToolTip);
    });

    // fix inputbox behaviour for payment forms injected via ajax
    document.observe("dom:loaded", function() {
        jQuery('.input-box').has('select').addClass('input-box-select');
        jQuery('.input-box').has('select').parent().addClass('select-list');
        jQuery('#multishipping-billing-form .input-box').addClass('fade-label');
        jQuery('.input-box-select').find('select').show();
        jQuery('.input-box-select').find('.chosen-container').hide();
        jQuery("select").each(function(){
            jQuery(this).on('change', function() {
                jQuery(this).siblings('.validation-advice').hide(300);
            });
        });
    });
//]]>
</script>
