<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Product quick view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php 
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_description = $_product->getDescription();
    $_attributes = new Mage_Catalog_Block_Product_View_Attributes();
    $_attributes->setProduct($_product->getId());
    $_additional = $_attributes->getAdditionalData();
    $_reviews = false;
?>
<script>
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<!-- Product Pic & Info -->
<div class="small-12 product-essential columns">
    <div class="row flushrow">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>
            <?php echo $this->getChildHtml('media') ?>
            <!-- Central Column: Product info -->
            <div class="small-12 medium-4 product-shop columns">
                <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
                <?php echo $this->getChildHtml('extrahint') ?>
                <?php echo $this->getChildHtml('alert_urls') ?>
                <?php echo $this->getChildHtml('media_mobile') ?>
                <?php echo $this->getChildHtml('product_type_data') ?>
                <?php echo $this->getTierPriceHtml() ?>

                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php endif;?>

                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                <?php endif;?>

                <?php if ($_product->getShortDescription()):?>
                    <div class="short-description">
                        <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                    </div>
                <?php endif;?>
                <?php echo $this->getChildHtml('other');?>
            </div>
            <!-- Right column: Buy Box -->
            <div class="small-12 medium-4 product-shop-side columns">
                <?php if ($_product->isSaleable()):?>
                    <?php echo $this->getChildChildHtml('product_buy_box', '', true, true) ?>
                <?php endif;?>
                <?php if ($this->canEmailToFriend()): ?>
                    <p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
                <?php endif; ?>
            </div>
        </form>
        <script>
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>
                Object.extend(Validation, {
                    isVisible : function(elm) {
                        while(elm.tagName != 'BODY') {
                            // validate hidden select boxes when chosen.js is enabled
                            if (elm.className.indexOf('super-attribute-select') > -1 || elm.className.indexOf('product-custom-option') > -1) {
                                elm = elm.parentNode;
                            }
                            if(!$(elm).visible()) return false;
                            elm = elm.parentNode;
                        }
                        return true;
                    }    
                });
                <?php endif; ?>
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                       form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);

            // reinitialize orbit slider and trigger material design form fields (if enabled)
            $j(function() {
                setTimeout(function(){
                    $j(document).foundation();
                    $j(document).trigger('new:ajaxform');
                    // add active class to first bullet
                    var first_bullet = $j('.mobile-gallery .orbit-bullets').children('[data-orbit-slide]').eq(0);
                    first_bullet.addClass('active');
                    lightboxInstance.updateTargets($j('.lightbox'));
                    lightboxMobileInstance.updateTargets($j('.lightbox-mobile'));

                    imagesLoaded($j('.lightbox-mobile > img'), function() {
                        $j(document).resize();
                    });
                    // init additional images slider
                    Intenso.libs.featured.init();
                    // init product labels
                    Intenso.libs.productLabel.init();
                },500);
            });
        </script>
    </div>
</div>