<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
/** @var Mage_Checkout_Block_Onepage_Billing $this */
?>
<form id="co-billing-form" action="">
    <div class="row flush">
        <div class="small-12 create-account columns">
            <div class="form-box wide">
                <ul class="form-list">
                <?php if ($this->customerHasAddresses()): ?>
                    <li class="wide">
                        <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
                        <div class="input-box">
                            <?php echo $this->getAddressesHtmlSelect('billing') ?>
                        </div>
                    </li>
                <?php endif; ?>
                <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
                    <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
                    <ul>
                        <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
                        <li class="fields">
                            <?php if (Mage::helper('itactica_intenso')->useCompanyField()): ?>
                            <div class="field">
                                <label for="billing:company"><?php echo $this->__('Company') ?></label>
                                <div class="input-box">
                                    <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                                </div>
                            </div>
                            <?php endif; ?>
                <?php if(!$this->isCustomerLoggedIn()): ?>
                            <div class="field">
                                <label for="billing:email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                                <div class="input-box">
                                    <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="billing[email]" id="billing:email" value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>" title="<?php echo $this->quoteEscape($this->__('Email Address')) ?>" class="input-text validate-email required-entry" />
                                </div>
                            </div>
                <?php endif; ?>
                        </li>
                <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                        <li class="wide">
                            <label for="billing:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->quoteEscape($this->__('Street Address')) ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li class="wide">
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->quoteEscape($this->__('Street Address %s', $_i)) ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                <?php endfor; ?>
                        <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                        <li class="wide">
                            <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>
                            <div class="input-box">
                                <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->quoteEscape($this->__('VAT Number')) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                            </div>
                        </li>
                        <?php endif; ?>
                        <li class="fields ">
                            <div class="field">
                                <label for="billing:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                                <div class="input-box">
                                    <input type="text" title="<?php echo $this->quoteEscape($this->__('City')) ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="billing:city" />
                                </div>
                            </div>
                            <div class="field state-province-field">
                                <label for="billing:region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                                <div class="input-box">                                 
                                    <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->quoteEscape($this->__('State/Province')) ?>" class="validate-select" style="display:none;">
                                        <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                    </select>
                                    <script type="text/javascript">
                                    //<![CDATA[
                                        $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                    //]]>
                                    </script>
                                    <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->quoteEscape($this->__('State/Province')) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                                </div>
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field">
                                <label for="billing:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                                <div class="input-box">
                                    <input type="text" title="<?php echo $this->quoteEscape($this->__('Zip/Postal Code')) ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                                <div class="input-box">
                                    <?php echo $this->getCountryHtmlSelect('billing') ?>
                                </div>
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field">
                                <label for="billing:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                                <div class="input-box">
                                    <input type="tel" name="billing[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->quoteEscape($this->__('Telephone')) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />
                                </div>
                            </div>
                            <?php /* remove fax field from checkout */ ?>
                            <?php /*
                            <div class="field">
                                <label for="billing:fax"><?php echo $this->__('Fax') ?></label>
                                <div class="input-box">
                                    <input type="text" name="billing[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="billing:fax" />
                                </div>
                            </div>
                            */ ?>
                        </li>
                        <?php if(!$this->isCustomerLoggedIn()): ?>
                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                        <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                            <li class="fields">
                            <?php if ($_dob->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($_gender->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif ?>
                            </li>
                        <?php endif ?>

                        <?php if ($this->isTaxvatEnabled()):?>
                            <li><?php echo $this->getTaxvatHtml() ?></li>
                        <?php endif; ?>

                            <li class="fields" id="register-customer-password">
                                <div class="field">
                                    <label for="billing:customer_password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                                    <div class="input-box fade-label">
                                        <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->quoteEscape($this->__('Password')) ?>" class="input-text required-entry validate-password" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="billing:confirm_password" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                                    <div class="input-box fade-label">
                                        <input type="password" name="billing[confirm_password]" title="<?php echo $this->quoteEscape($this->__('Confirm Password')) ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                                    </div>
                                </div>
                            </li>
                            <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                            <?php endif; ?>
                            <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                                <li class="control">
                                    <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->quoteEscape($this->__('Save in address book')) ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                                </li>
                            <?php else:?>
                                <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('form.additional.info'); ?>
                        </ul>
                        <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
                 </li>
                <?php if ($this->canShip()): ?>
                    <li class="control">
                        <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"<?php if ($this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo $this->quoteEscape($this->__('Ship to this address')) ?>" onclick="$('shipping:same_as_billing').checked = true;" class="radio" /><label for="billing:use_for_shipping_yes"><?php echo  $this->__('Ship to this address') ?></label></li>
                    <li class="control">
                        <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0"<?php if (!$this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo $this->quoteEscape($this->__('Ship to different address')) ?>" onclick="$('shipping:same_as_billing').checked = false;" class="radio" /><label for="billing:use_for_shipping_no"><?php echo $this->__('Ship to different address') ?></label>
                    </li>
                <?php endif; ?>
                </ul>
                <?php if (!$this->canShip()): ?>
                    <input type="hidden" name="billing[use_for_shipping]" value="1" />
                <?php endif; ?>
                <div class="buttons-set" id="billing-buttons-container">
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <span class="please-wait" id="billing-please-wait" style="display:none;">
                        <span class="spinner"></span>
                        <span><?php echo $this->__('Loading next step...') ?></span>
                    </span>
                    <button type="button" title="<?php echo $this->__('Continue') ?>" class="button" onclick="billing.save(); <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>styleRegionInterval();<?php endif; ?>"><span><span><?php echo $this->__('Continue') ?></span></span></button>
                    <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                    <a class="arrow-left" href="<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>"><?php echo $this->__('Back') ?></a>
                    <?php else: ?>
                    <a class="arrow-left" href="#" onclick="checkout.back(); return false;"><?php echo $this->__('Back') ?></a>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
    var billingForm = new VarienForm('co-billing-form');

    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);

    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
    if ($('onepage-guest-register-button')) {
        Event.observe($('onepage-guest-register-button'), 'click', function(event) {
            var billingRememberMe = $('co-billing-form').select('#remember-me-box');
            if (billingRememberMe.length > 0) {
                if ($('login:guest') && $('login:guest').checked) {
                    billingRememberMe[0].hide();
                } else if ($('login:register') && ($('login:register').checked || $('login:register').type == 'hidden')) {
                    billingRememberMe[0].show();
                }
            }
        });
    }

    <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>
    // fix inputbox behaviour for payment forms injected via ajax
    var fixInputbox;
    function attachInputboxFunctions() {
        fixInputbox = setInterval(function() { checkForm() }, 500);
    }
    function checkForm() {
        if($('checkout-step-payment').visible()) {
            stopInterval();
            jQuery('.input-box').has('select').addClass('input-box-select');
            jQuery('.input-box').has('select').parent().addClass('select-list');
            jQuery('#checkout-payment-method-load .input-box').addClass('fade-label');
            Intenso.libs.ui.bindInputboxes();
            jQuery("select").each(function(){
                jQuery(this).on('change', function() {
                    jQuery(this).siblings('.validation-advice').hide(300);
                });
            });
        }
    }
    function stopInterval() {
        clearInterval(fixInputbox);
    }

    jQuery(function() {
        jQuery('#billing\\:country_id').on('change keyup', function(event) {
            billingRegionUpdater.update();
        });

        if (canUseChosen()) {
            // since the billing select box is replaced by chosen.js we need to simulate the change event
            var selectEl,
                selectVal;
            jQuery('#billing-address-select').on('change keyup', function(event) {
                if (selectEl == jQuery(this)[0] && selectVal == jQuery(this).val()) return;
                selectEl = jQuery(this)[0];
                selectVal = jQuery(this).val();
                setTimeout(function(){
                    if (selectEl === event.target) {
                        selectEl.simulate('change');
                    }
                    jQuery("select").each(function(){
                        jQuery(this).chosen("destroy").chosen();
                    });
                },0);
            });
            // fix RegionUpdater for chosen.js
            Object.extend(Validation, {
                isVisible : function(elm) {
                    while(elm.tagName != 'BODY') {
                        // validate DOB and Region hidden select boxes
                        if (elm.id == 'billing:month' || elm.id == 'billing:day' || elm.id == 'billing:year' || elm.id == 'billing:region_id' || elm.id == 'shipping:region_id') {
                            if ((elm.id == 'billing:region_id' && !($('billing_region_id_chosen').visible()))
                                || (elm.id == 'shipping:region_id' && !($('shipping_region_id_chosen').visible()))) {
                                return false;
                            }
                            return true;
                        }
                        if(!$(elm).visible()) return false;
                        elm = elm.parentNode;
                    }
                    return true;
                }    
            });
            billingRegionUpdater.update = billingRegionUpdater.update.wrap(function(parentMethod){
                // parent "update" method call
                parentMethod();
                 
                // after "update" method fires
                billingRegionUpdater.regionSelectEl.hide();
                regionChosen = jQuery('#billing_region_id_chosen');
                if(billingRegionUpdater.regionTextEl.visible()) {
                    regionChosen.hide();
                    regionChosen.parent().removeClass('input-box-select');
                    regionChosen.parent().parent().removeClass('select-list');
                } else {
                    regionChosen.show();
                    regionChosen.parent().addClass('input-box-select');
                    regionChosen.parent().parent().addClass('select-list');
                    jQuery('#billing\\:region_id').chosen("destroy").chosen();
                }
            });

            jQuery('#billing\\:region_id').on('change keyup', function(event) {
                jQuery('#billing\\:region').val(jQuery(this).children("option").filter(":selected").text());
            });

        } else {
            billingRegionUpdater.update = billingRegionUpdater.update.wrap(function(parentMethod){
                // parent "update" method call
                parentMethod();
                 
                // after "update" method fires
                if(billingRegionUpdater.regionTextEl.visible()) {
                    jQuery('.state-province-field').removeClass('select-list');
                    jQuery('.state-province-field > .input-box').removeClass('input-box-select');
                } else {
                    jQuery('.state-province-field').addClass('select-list');
                    jQuery('.state-province-field > .input-box').addClass('input-box-select');
                }
            });
        }
        window.setTimeout(function () {
            billingRegionUpdater.update();
        }, 500);

        function canUseChosen() {
            if (window.navigator.appName === "Microsoft Internet Explorer") {
                return document.documentMode >= 8;
            }
            if (/iP(od|hone)/i.test(window.navigator.userAgent)) {
                return false;
            }
            if (/Android/i.test(window.navigator.userAgent)) {
                if (/Mobile/i.test(window.navigator.userAgent)) {
                    return false;
                }
            }
            return true;
        }
    });
    <?php endif; ?>
</script>
