<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<div class="row rss-feed-page">
    <div class="small-12 medium-7 large-9 columns">
        <div class="page-title rss-title">
            <h1><?php echo $this->__('RSS Feeds') ?></h1>
        </div>
        <?php
            $_categories = $this->getRssCatalogFeeds();
            $_misc = $this->getRssMiscFeeds();
        ?>
        <?php if ($_categories || $_misc): ?>
        <?php if($_misc): ?>
        <table class="data-table rss-table" id="rss-table-misc">
            <col />
            <col />
            <thead>
                <tr>
                    <th colspan="2"><?php echo $this->__('Miscellaneous Feeds') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_misc as $_feed): ?>
                <tr>
                    <td><?php echo $_feed->getLabel() ?></td>
                    <td class="feed-link"><a href="<?php echo $_feed->getUrl() ?>"><span class="icon-feed"></span><?php echo $this->__('Get Feed'); ?></a></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php endif; ?>
        <?php if ($_categories && $_misc): ?>
        <br />
        <?php endif ?>
        <?php if($_categories): ?>
        <table class="data-table rss-table" id="rss-table-category">
            <col />
            <col width="1" />
            <thead>
                <tr>
                    <th colspan="2"><?php echo $this->__('Category Feeds') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_categories as $_category): ?>
                <tr>
                    <td><?php echo $_category->getLabel() ?></td>
                    <td class="feed-link"><a href="<?php echo $_category->getUrl() ?>"><span class="icon-feed"></span><?php echo $this->__('Get Feed'); ?></a></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php endif; ?>
        <script type="text/javascript">
        //<![CDATA[
            decorateTable('rss-table-misc');
            decorateTable('rss-table-category');
        //]]>
        </script>
        <?php else: ?>
            <p><?php echo $this->__('There are no Rss Feeds'); ?></p>
        <?php endif; ?>
        </div>
    <div class="small-12 medium-5 large-3 rss-page-static-block columns">
        <?php echo $this->getChildHtml('rss_page_static_block') ?>
    </div>
</div>
