<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php if($this->getItems()->getSize()): ?>
<?php $_intensoHelper = $this->helper('itactica_intenso'); ?>
<section class="featured-slider related row" data-options="min_item_width:220; number_items_on_mobile:1;">
    <h3><?php echo $this->__('Customers Who Bought This Item Also Bought') ?></h3>
    <ol class="clearfix">
    <?php foreach($this->getItems() as $_item): ?>
        <li class="item">
            <div class="item-content">
                <div class="item-images">
                    <a href="<?php echo $_item->getProductUrl() ?>">
                        <img class="item-image spinner" src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(430,404) ?>" alt="<?php echo $this->escapeHtml($_item->getName()) ?>">
                        <?php echo $_intensoHelper->getAlternativeImgUrl($_item, 430, 404); ?>
                    </a>
                    <div class="product-label-placeholder" data-productid="<?php echo $_item->getId(); ?>" data-labelurl="<?php echo Mage::getBaseUrl(); ?>itactica-productlabel" data-source="product"></div>
                </div>
                <div class="item-info">
                    <h6 class="item-title"><a href="<?php echo $_item->getProductUrl() ?>" class="truncate"  title="<?php echo $this->escapeHtml($_item->getName()) ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a></h6>
                    <?php echo $this->getReviewsSummaryHtml($_item, 'short') ?>
                    <?php echo $this->getPriceHtml($_item, true, '-related') ?>
                </div>
                <div class="actions clearfix">
                    <?php if(!$_item->canConfigure() && $_item->isSaleable() && Mage::getStoreConfig('intenso/catalog/catalog_show_add_to_cart', Mage::app()->getStore())): ?>
                        <button class="btn-cart" title="<?php echo $this->__('Add to Cart') ?>" type="button" onclick="setLocation('<?php echo $this->helper('checkout/cart')->getAddUrl($_item) ?>')"><?php echo $this->__('Add to Cart') ?></button>
                    <?php elseif($_item->getStockItem() && $_item->getStockItem()->getIsInStock()): ?>
                        <button type="button" title="<?php echo $this->__('View Details') ?>" class="button btn-cart preview" onclick="setLocation('<?php echo $_item->getProductUrl() ?>')"><span><span><?php echo $this->__('View Details') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if($this->helper('wishlist')->isAllow()): ?>
                            <li><a class="link-wishlist" href="<?php echo $this->helper('wishlist')->getAddUrl($_item) ?>" title="<?php echo $this->__('Add to Wishlist') ?>"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_item); ?>
                        <?php if($_compareUrl): ?>
                            <li><a class="link-compare" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </li>
    <?php endforeach ?>
    </ol>
</section>
<?php endif ?>
