<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Template for filter items block
 *
 * @see Mage_Catalog_Block_Layer_Filter
 */
?>
<ol>
    <?php foreach ($this->getItems() as $_item): ?>
        <li<?php if ($_item->isSelected()): ?> class="checked"<?php endif; ?>>
            <?php if ($_item->getCount() > 0): ?>
                <input type="checkbox"<?php if ($_item->isSelected()): ?> checked="checked" <?php endif; ?>
                <?php if ($this->helper('itactica_layerednavigation')->isAjaxEnabled()): ?>
                           onclick="$(this).next().click()"
                <?php else: ?>
                   onclick="setLocation('<?php echo ($_item->isSelected()) ? $this->urlEscape($_item->getRemoveUrl()) : $this->urlEscape($_item->getUrl()) ?>')"
                <?php endif; ?>
                style="display:none;"/>
                <a
                <?php if ($_item->isSelected()): ?>
                    onclick="$(this).previous().checked = false;"
                <?php else: ?>
                    onclick="$(this).previous().checked = true;"
                <?php endif; ?>
                    href="<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>"
                    ><?php echo $_item->getLabel() ?><?php if ($this->shouldDisplayProductCount()): ?><span> (<?php echo $_item->getCount() ?>)</span><?php endif; ?></a>
            <?php else: ?>
                <?php echo $_item->getLabel() ?><?php if ($this->shouldDisplayProductCount()): ?><span> (<?php echo $_item->getCount() ?>)</span><?php endif; ?>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>
