<?php
/**
 * Intenso Premium Theme
 *
 * @category    Itactica
 * @package     Itactica_FeaturedCategories
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

?>
<?php $_sliders = $this->getSlider(); ?>
<?php if ($_sliders): ?>
    <?php foreach ($_sliders as $_slider): ?>
    <section class="row featured-slider featured-categories-section<?php if ($_slider->getCustomClassname()) echo ' ' . $_slider->getCustomClassname() ?><?php if ($_slider->getDisplayType() == 0): ?> grid-type<?php endif; ?>" data-options="animation_speed:<?php echo $_slider->getAnimationSpeed(); ?>; min_item_width:<?php echo $_slider->getMinimumWidth(); ?>; number_items_on_mobile:<?php echo $_slider->getNumberItemsMobile(); ?>; swipe:<?php echo $_slider->getSwipe(); ?>">
        <h3><?php echo $_slider->getTitle(); ?></h3>
        <ol class="clearfix">
        <?php foreach ($this->getCategoryCollection($_slider->getId()) as $category): ?>
            <li class="item">
                <div class="category-images">
                    <a href="<?php echo $category->getUrl(); ?>">
                    <?php if (Mage::getStoreConfig('intenso/catalog/lazy_loading')): ?>
                        <img class="item-image spinner" src="<?php echo $this->getSkinUrl('images/clear.png'); ?>" data-echo="<?php echo $this->helper('itactica_featuredcategories/category')->resize('catalog/category/'.$category->getThumbnail(),430, 542); ?>" alt="<?php echo $category->getName(); ?>" width="500" height="500">
                    <?php else: ?>
                        <img class="item-image spinner" src="<?php echo $this->helper('itactica_featuredcategories/category')->resize('catalog/category/'.$category->getThumbnail(),430, 542); ?>" alt="<?php echo $category->getName(); ?>">
                    <?php endif; ?>
                    </a>
                </div>
                <h6 class="category-title"><a href="<?php echo $category->getUrl(); ?>" class="truncate"><?php echo $category->getName(); ?></a></h6>
            </li>
        <?php endforeach; ?>
        </ol>
    </section>
    <?php endforeach; ?>
<?php endif;?>
