<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php $helper = Mage::helper('itactica_intenso'); ?>
<footer class="main-footer">
	<div class="back-to-top-container show-for-small-only">
		<a href="#" class="back-to-top"><?php echo $this->__('Back to Top'); ?></a>
	</div>
	<ul class="mobile-footer-links show-for-small-only">
		<?php echo $this->getChildHtml('cms_footer_for_mobile') ?>
	</ul>
	<?php if ($helper->showFooterRibbon()): ?>
		<div class="row newsletter-ribbon<?php if(!Mage::getStoreConfig('intenso/footer/mobile_newsletter',
				Mage::app()->getStore()) && !Mage::getStoreConfig('intenso/footer/mobile_social',
				Mage::app()->getStore())): ?> hide-for-small-only<?php endif; ?>">
			<div class="small-12 medium-6 columns<?php if(!Mage::getStoreConfig('intenso/footer/mobile_newsletter',
				Mage::app()->getStore())): ?> hide-for-small-only<?php endif; ?>">
				<?php if (Mage::getStoreConfig('intenso/footer/newsletter',
					Mage::app()->getStore())): ?>
					<?php echo $this->getChildHtml("newsletter"); ?>
				<?php else: ?>
					<?php echo $this->getChildHtml('cms_footer_top_left') ?>
				<?php endif; ?>
			</div>
			<div class="small-12 medium-6 columns social<?php if(!Mage::getStoreConfig('intenso/footer/mobile_social',
				Mage::app()->getStore())): ?> hide-for-small-only<?php endif; ?>">
				<?php echo $this->getChildHtml('cms_footer_top_right') ?>
			</div>
		</div>
	<?php endif; ?>
	<div class="row footer-links hide-for-small-only">
		<?php $columns = $helper->mainFooterColumnCount(); ?>
		<?php if (!$columns) $columns = 1; ?>
		<?php $columnSize = 12 / $columns; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_main_first_column')->getIsActive()): ?>
			<div class="medium-<?php echo $columnSize; ?> columns">
				<?php echo $this->getChildHtml('cms_footer_first_column') ?>
			</div>
		<?php endif; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_main_second_column')->getIsActive()): ?>
			<div class="medium-<?php echo $columnSize; ?> columns">
				<?php echo $this->getChildHtml('cms_footer_second_column') ?>
			</div>
		<?php endif; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_main_third_column')->getIsActive()): ?>
			<div class="medium-<?php echo $columnSize; ?> columns">
				<?php echo $this->getChildHtml('cms_footer_third_column') ?>
			</div>
		<?php endif; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_main_fourth_column')->getIsActive()): ?>
			<div class="medium-<?php echo $columnSize; ?> columns">
				<?php echo $this->getChildHtml('cms_footer_fourth_column') ?>
			</div>
		<?php endif; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_links')->getIsActive()): ?>
			<div class="medium-12 h-links-list columns">
				<?php echo $this->getChildHtml('cms_footer_links') ?>
			</div>
		<?php endif; ?>
	</div>
	<?php if ($helper->mobileFooterSwitches()): ?>
		<div class="mobile-footer-switch show-for-small-only row">
			<?php
			$switchCount = 0;
			if ($this->getChildHtml('store_switcher') && $helper->mobileStoreSwitch()) $switchCount++;
			if ($this->getChildHtml('store_language') && $helper->mobileLanguageSwitch()) $switchCount++;
			if ($this->getChildHtml('currency_selector') && $helper->mobileCurrencySelector()) $switchCount++;
			if ($switchCount == 0) $switchCount = 1;
			$rowCount = 12 / $switchCount;
			?>
			<?php if ($this->getChildHtml('store_switcher') && $helper->mobileStoreSwitch()): ?>
				<div class="small-<?php echo $rowCount; ?> columns">
					<?php echo $this->getChildHtml('store_switcher') ?>
				</div>
			<?php endif; ?>
			<?php if ($this->getChildHtml('store_language') && $helper->mobileLanguageSwitch()): ?>
				<div class="small-<?php echo $rowCount; ?> columns">
					<?php echo $this->getChildHtml('store_language') ?>
				</div>
			<?php endif; ?>
			<?php if ($this->getChildHtml('currency_selector') && $helper->mobileCurrencySelector()): ?>
				<div class="small-<?php echo $rowCount; ?> columns">
					<?php echo $this->getChildHtml('currency_selector') ?>
				</div>
			<?php endif; ?>
		</div>
	<?php endif; ?>
	<div class="row footer-bottom">
		<div class="medium-5 columns">
			<p class="sosumi no-margin"><?php echo $this->getCopyright() ?></p>
		</div>
		<div class="medium-2 center hide-for-small-only columns">
			<a href="#" class="back-to-top"><?php echo $this->__('Back to Top'); ?></a>
		</div>
		<div class="medium-5 hide-for-small-only columns">
			<?php echo $this->getChildHtml('cms_footer_bottom_right') ?>
		</div>
	</div>
</footer>
