<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php 
$linksArray = @unserialize(Mage::getStoreConfig('intenso/header/sec_menu_links', Mage::app()->getStore()));
?>
<?php if ($linksArray): ?>
    <ul class="links-list">
    <?php foreach ($linksArray as $menuItem): ?>
        <?php if (strpos($menuItem['url'],'http://') !== false || strpos($menuItem['url'],'https://') !== false): ?>
        <li><a href="<?php echo $menuItem['url']; ?>"><?php echo $menuItem['menu_item']; ?></a></li>
    	<?php else: ?>
    	<li><a href="/<?php echo $menuItem['url']; ?>"><?php echo $menuItem['menu_item']; ?></a></li>
    	<?php endif; ?>
    <?php endforeach; ?>
	</ul>
<?php endif; ?>
