<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Category left navigation
 *
 * @see Mage_Catalog_Block_Navigation
 */
?>
<?php if (!Mage::registry('current_category')) return ?>
<?php $_categories = $this->getCurrentChildCategories() ?>
<?php $_count = is_array($_categories)?count($_categories):$_categories->count(); ?>
<?php if (!$this->getRequest()->isAjax()): ?>
<nav class="layered-nav-container top-bar left-off-canvas-menu main-nav<?php if(Mage::getStoreConfig('itactica_layerednavigation/catalog/layered_nav_expanded')): ?> open<?php endif; ?><?php if(Mage::getStoreConfig('itactica_layerednavigation/catalog/remember_filter_display')): ?> remember<?php endif; ?>" data-topbar>
    <?php // static block - top ?>
    <?php if (Mage::getModel('cms/block')->load('layered_nav_top_block')->getIsActive()): ?>
        <div class="layered-nav-top-block">
            <?php echo $this->getChildHtml('layered_nav_top_block') ?>
        </div>
    <?php endif; ?>
    <span id="filter-reset" class="hide"></span>
    <section class="layered-nav top-bar-section">
        <?php echo $this->getChildHtml('product_list_sorter'); ?>
        <div id="layered-navigation" class="block-content">
<?php endif; ?>
            <?php if($_count): ?>
            <dl id="narrow-by-list">
                <dt><?php echo $this->__('Category') ?></dt>
                <dd>
                    <ol>
                    <?php foreach ($_categories as $_category): ?>
                        <?php if($_category->getIsActive()): ?>
                        <li>
                            <a href="<?php echo $this->getCategoryUrl($_category) ?>"<?php if ($this->isCategoryActive($_category)): ?> class="current"<?php endif; ?>><?php echo $this->escapeHtml($_category->getName()) ?></a> (<?php echo $_category->getProductCount() ?>)
                        </li>
                        <?php endif; ?>
                    <?php endforeach ?>
                    </ol>
                </dd>
            </dl>
            <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
<?php if (!$this->getRequest()->isAjax()): ?>
        </div>
        <?php // static block - bottom ?>
        <?php if (Mage::getModel('cms/block')->load('layered_nav_bottom_block')->getIsActive()): ?>
            <div class="layered-nav-bottom-block">
                <?php echo $this->getChildHtml('layered_nav_bottom_block') ?>
            </div>
        <?php endif; ?>
    </section>
</nav>
<?php endif; ?>
