<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>

<?php $block = Mage::getModel('cms/block')->getCollection()->addStoreFilter(Mage::app()->getStore()->getId(), true)->addFieldToFilter('identifier', 'product_view_block_3')->getFirstItem(); ?>
<?php if ($block->getIsActive()): ?>
<div class="product-collateral custom-info clearfix row">
    <p data-magellan-destination="custom-info"><a id="custom-info"></a></p>
    <h3><?php echo $block->getTitle(); ?></h3>
    <div class="small-12 columns">
        <?php echo $this->getChildHtml('product_view_block_3'); ?>
    </div>
</div>
<?php endif; ?>