<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Create account form template
 *
 * @see app/design/frontend/base/default/template/customer/form/register.phtml
 */
/** @var $this Mage_Customer_Block_Form_Register */
?>
<div class="account-create">
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
        <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
        <div class="row">
            <div class="small-12 create-account columns">
                <h1 class="center"><?php echo $this->__('Create an Account') ?></h1>
                <p class="center"><?php echo $this->__('Please enter the following information to create your account.'); ?></p>
                <div class="form-box wide">
                    <h6 class="legend"><?php echo $this->__('Personal Information') ?></h6>
                    <ul class="form-list">
                        <li class="fields">
                            <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                        </li>
                        <li>
                            <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box fade-label">
                                <input type="text" name="email" id="email_address" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                            </div>
                        </li>
                        <?php if ($this->isNewsletterEnabled()): ?>
                        <li class="control">
                            <div class="input-box">
                                <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                            </div>
                            <label for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
                        </li>
                        <?php endif ?>
                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php if ($_dob->isEnabled()): ?>
                        <li><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li>
                    <?php endif ?>
                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
                    <?php endif ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <li><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
                    <?php endif ?>
                    </ul>
                <?php if($this->getShowAddressFields()): ?>
                    <input type="hidden" name="create_address" value="1" />
                    <h2 class="legend"><?php echo $this->__('Address Information') ?></h2>
                    <ul class="form-list">
                        <li class="fields">
                            <div class="field">
                                <label for="company"><?php echo $this->__('Company') ?></label>
                                <div class="input-box">
                                    <input type="text" name="company" id="company" value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                                <div class="input-box">
                                    <input type="text" name="telephone" id="telephone" value="<?php echo $this->escapeHtml($this->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" />
                                </div>
                            </div>
                        </li>
                    <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                        <li class="wide">
                            <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li class="wide">
                            <div class="input-box">
                                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                    <?php endfor; ?>
                        <li class="fields">
                            <div class="field">
                                <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                                <div class="input-box">
                                    <input type="text" name="city" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
                                </div>
                            </div>
                            <div class="field state-province-field">
                                <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                                <div class="input-box">
                                    <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                        <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                    </select>
                                    <script type="text/javascript">
                                    //<![CDATA[
                                        $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                                    //]]>
                                    </script>
                                    <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                                </div>
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field">
                                <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                                <div class="input-box">
                                    <input type="text" name="postcode" value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                                <div class="input-box">
                                    <?php echo $this->getCountryHtmlSelect() ?>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <input type="hidden" name="default_billing" value="1" />
                    <input type="hidden" name="default_shipping" value="1" />
                <?php endif; ?> 
                    <h6><?php echo $this->__('Login Information') ?></h6>
                    <ul class="form-list">
                        <li class="fields">
                            <div class="field">
                                <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                                <div class="input-box fade-label">
                                    <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                                <div class="input-box fade-label">
                                    <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
                                </div>
                            </div>
                        </li>
                        <?php echo $this->getChildHtml('form.additional.info'); ?>
                        <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                    </ul>
                    <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
                    <div class="buttons-set">
                        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                        <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
                        <a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="arrow-left back-link"><?php echo $this->__('Back') ?></a>
                    </div>
                    <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
                        <input name="context" type="hidden" value="checkout" />
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </form>
    <script>
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        var regionUpdater = new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>

        <?php if($this->getShowAddressFields() && Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>
        jQuery(function() {
            jQuery('#country').on('change keyup', function(event) {
                regionUpdater.update();
            });

            if (canUseChosen()) {
                // fix RegionUpdater for chosen.js
                Object.extend(Validation, {
                    isVisible : function(elm) {
                        while(elm.tagName != 'BODY') {
                            // validate DOB and Region hidden select boxes
                            if (elm.id == 'month' || elm.id == 'day' || elm.id == 'year' || elm.id == 'region_id') {
                                return true;
                            }
                            if(!$(elm).visible()) return false;
                            elm = elm.parentNode;
                        }
                        return true;
                    }    
                });
                regionUpdater.update = regionUpdater.update.wrap(function(parentMethod){
                    // parent "update" method call
                    parentMethod();
                     
                    // after "update" method fires
                    regionUpdater.regionSelectEl.hide();
                    regionChosen = jQuery('#region_id_chosen');
                    if(regionUpdater.regionTextEl.visible()) {
                        regionChosen.hide();
                        regionChosen.parent().removeClass('input-box-select');
                        regionChosen.parent().parent().removeClass('select-list');
                    } else {
                        regionChosen.show();
                        regionChosen.parent().addClass('input-box-select');
                        regionChosen.parent().parent().addClass('select-list');
                        jQuery('#region_id').trigger("chosen:updated");
                    }
                });

                jQuery('#region_id').on('change keyup', function(event) {
                    jQuery('#region').val(jQuery(this).children("option").filter(":selected").text());
                });
                regionUpdater.update();

            } else {
                regionUpdater.update = regionUpdater.update.wrap(function(parentMethod){
                    // parent "update" method call
                    parentMethod();
                     
                    // after "update" method fires
                    if(regionUpdater.regionTextEl.visible()) {
                        jQuery('.state-province-field').removeClass('select-list');
                        jQuery('.state-province-field > .input-box').removeClass('input-box-select');
                    } else {
                        jQuery('.state-province-field').addClass('select-list');
                        jQuery('.state-province-field > .input-box').addClass('input-box-select');
                    }
                });
                regionUpdater.update();
            }

            function canUseChosen() {
                if (window.navigator.appName === "Microsoft Internet Explorer") {
                    return document.documentMode >= 8;
                }
                if (/iP(od|hone)/i.test(window.navigator.userAgent)) {
                    return false;
                }
                if (/Android/i.test(window.navigator.userAgent)) {
                    if (/Mobile/i.test(window.navigator.userAgent)) {
                        return false;
                    }
                }
                return true;
            }
        });
        <?php endif; ?>
    </script>
</div>
