<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<div class="account-retrieve-link">
    <div class="row">
        <div class="small-12 columns">
            <?php echo $this->getMessagesBlock()->toHtml() ?>
            <form action="" method="post" id="form-validate">
                <h1 class="center"><?php echo $this->__('Retrieve your confirmation link here') ?></h1>
                <p class="center"><?php echo $this->__('Please enter your email below and we\'ll send you confirmation link for it.') ?></p>
                <div class="form-box">
                    <ul class="form-list">
                        <li>
                            <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="email" id="email_address" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" class="input-text required-entry validate-email" value="<?php echo $this->escapeHtml($this->getEmail()) ?>" />
                            </div>
                        </li>
                    </ul>
                    <div class="buttons-set">
                        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                        <p class="back-link"><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>
                        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit')) ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
