<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<div class="account-forgotpassword">
    <div class="row">
        <div class="small-12 columns">
            <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
            <form action="<?php echo $this->getUrl('*/*/forgotpasswordpost') ?>" method="post" id="form-validate">
                <h1 class="center"><?php echo $this->__('Retrieve your password here') ?></h1>
                <p class="center"><?php echo $this->__('Please enter your email address below. You will receive a link to reset your password.') ?></p>
                <div class="form-box">
                    <ul class="form-list">
                        <li>
                            <label for="email_address" class="required"><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box fade-label">
                                <input type="text" name="email" id="email_address" class="input-text required-entry validate-email" value="<?php echo $this->escapeHtml($this->getEmailValue()) ?>" />
                            </div>
                        </li>
                        <?php echo $this->getChildHtml('form.additional.info'); ?>
                    </ul>
                    <div class="buttons-set">
                        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit')) ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
                        <a class="arrow-left" href="<?php echo $this->helper('customer')->getLoginUrl() ?>"><?php echo $this->__('Back to Login') ?></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
