<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Customer login form template
 *
 * @see Mage_Customer_Block_Form_Login
 */
?>
<div class="account-login">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.login.extra')?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="row">
            <div class="small-12 registered-users columns">
                <h1 class="center"><?php echo $this->__('Already Registered?') ?></h1>
                <p class="center"><?php echo $this->__('If you have an account with us, please log in.') ?></p>
                <div class="form-box">
	                <ul class="form-list">
	                    <li>
	                        <label for="email" class="required"><?php echo $this->__('Email') ?></label>
	                        <div class="input-box fade-label">
	                            <input type="text" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
	                        </div>
	                    </li>
	                    <li>
	                        <label for="pass" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
	                        <div class="input-box fade-label">
	                            <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
	                        </div>
	                    </li>
	                    <?php echo $this->getChildHtml('form.additional.info'); ?>
	                </ul>
	                <div class="buttons-set">
                        <button type="submit" class="button" title="<?php echo $this->__('Sign in') ?>" name="send" id="send2"><span><span><?php echo $this->__('Sign in') ?></span></span></button>
                        <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left"><?php echo $this->__('Forgot Your Password?') ?></a>
                    </div>
	            </div>
            </div>
            <div class="small-12 new-users columns">
                <h1 class="center"><?php echo $this->__('New Here?') ?></h1>
                <p class="center"><?php echo $this->__('Registration is free and easy!') ?></p>
                <button type="button" title="<?php echo $this->__('Create an Account') ?>" class="button" onclick="window.location='<?php echo $this->getCreateAccountUrl() ?>';"><span><span><?php echo $this->__('Create an Account') ?></span></span></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('login-form', true);
    //]]>
    </script>
</div>