<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Deprecated for security reasons in 1.9.2.2 / SUPEE-6788 Patch
 */
?>
<div class="account-forgotpassword">
    <div class="row">
        <div class="small-12 columns">
            <?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
            <form action="<?php echo $this->getUrl('*/*/resetpasswordpost', array('_query' => array('id' => $this->getCustomerId(), 'token' => $this->getResetPasswordLinkToken()))); ?>" method="post" id="form-validate">
                <h1 class="center"><?php echo $this->__('Reset a Password') ?></h1>
                <p class="center"><?php echo $this->__('Please enter your new password.') ?></p>
                <div class="form-box">
                    <ul class="form-list">
                        <li class="fields">
                            <div class="field">
                                <label for="password" class="required"><em>*</em><?php echo $this->__('New Password'); ?></label>
                                <div class="input-box fade-label">
                                    <input type="password" class="input-text required-entry validate-password" name="password" id="password" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm New Password'); ?></label>
                                <div class="input-box fade-label">
                                    <input type="password" class="input-text required-entry validate-cpassword" name="confirmation" id="confirmation" />
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="buttons-set">
                        <p class="required"><?php echo $this->__('* Required Fields'); ?></p>
                        <button type="submit" title="<?php echo $this->__('Reset a Password'); ?>" class="button"><span><span><?php echo $this->__('Reset a Password'); ?></span></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
/*<![CDATA[*/
    var dataForm = new VarienForm('form-validate', true);
/*]]>*/
</script>