<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<div class="row">
    <div class="small-12 payment-methods columns">
        <div class="form-box wide">
			<div class="order-review" id="checkout-review-load">
			    <!-- Content loaded dynamically -->
			</div>
		</div>
	</div>
</div>
