<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<form id="co-shipping-method-form" action="">
    <div class="row flush">
        <div class="small-12 create-account columns">
            <div class="form-box wide">
                <div id="checkout-shipping-method-load">
                   <!-- Content loaded dynamically -->
                </div>
                <script>
                    var shippingMethod = new ShippingMethod('co-shipping-method-form', "<?php echo $this->getUrl('checkout/onepage/saveShippingMethod') ?>");
                </script>
                <div id="onepage-checkout-shipping-method-additional-load">
                    <?php echo $this->getChildHtml('additional') ?>
                </div>
                <div class="buttons-set" id="shipping-method-buttons-container">
                    <span id="shipping-method-please-wait" class="please-wait" style="display:none;">
                        <span class="spinner"></span>
                        <span><?php echo $this->__('Loading next step...') ?></span>
                    </span>
                    <button type="button" class="button" onclick="shippingMethod.save(); <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>attachInputboxFunctions();<?php endif; ?>"><span><span><?php echo $this->__('Continue') ?></span></span></button>
                    <a class="arrow-left" href="#" onclick="checkout.back(); <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>jQuery('body').trigger('new:ajaxform'); styleRegionInterval();<?php endif; ?> return false;"><?php echo $this->__('Back') ?></a>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function updateShippingRegion() {
        shippingRegionUpdater.update();
    }
</script>