<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Grouped product data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 * @see Mage_Catalog_Block_Product_View_Type_Grouped
 */
?>
<?php $this->setPreconfiguredValue(); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_associatedProducts = $this->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php if ($this->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable() && $_hasAssociatedProducts): ?>
        <p class="availability group in-stock" itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span class="hide" aria-hidden="true" itemprop="price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice(), false, false); ?></span><?php echo $this->__('Availability:') ?> <span><link href="http://schema.org/InStock" itemprop="availability"><?php echo $this->__('In stock') ?></span></p>
    <?php else: ?>
        <p class="availability group out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
    <?php endif; ?>
<?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<table class="data-table grouped-items-table" id="super-product-table">
    <col />
    <col />
    <col width="1" />
    <tbody>
    <?php if ($_hasAssociatedProducts): ?>
    <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
        <tr>
            <td class='image'>
                <img class="thumbnail"
                     src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->constrainOnly(true)->resize(58); ?>"
                     alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>"
                     title="<?php echo $this->escapeHtml($this->getImageLabel()); ?>" >
            </td>
            <td class="name">
                <?php echo $this->escapeHtml($_item->getName()) ?>
                <?php if ($_product->isSaleable()): ?>
                <div class="qty-wrapper">
                    <?php if ($_item->isSaleable()) : ?>
                        <input type="text" id="super_group[<?php echo $_item->getId() ?>]" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="<?php echo $_item->getQty()*1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                        <label for="super_group_<?php echo $_item->getId(); ?>" class="qty-label">
                            <?php echo $this->__('Quantity'); ?>
                        </label>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                </div>
                <?php endif; ?>
            </td>
            <?php if ($this->getCanShowProductPrice($_product) && Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())): ?>
            <td class="price">
                <?php if ($this->getCanShowProductPrice($_item)): ?>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <?php echo $this->getTierPriceHtml($_item) ?>
                <?php endif; ?>
            </td>
            <?php endif; ?>
        </tr>
    <?php endforeach; ?>
    <?php else: ?>
       <tr>
           <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
       </tr>
    <?php endif; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('super-product-table')</script>
