<?php
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_ExtendedReviews
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

?>
<div class="form-add" id="post-review">
    <h5><?php echo $this->__('Write Your Own Review') ?></h5>
    <?php if ($this->getAllowWriteReviewFlag()): ?>
    <form action="<?php echo $this->getAction() ?>" method="post" id="review-form" class="review-form">
        <?php echo $this->getChildHtml('form_fields_before')?>
        <h4><?php echo $this->__("You're reviewing:"); ?> <span><?php echo $this->htmlEscape($this->getProductInfo()->getName()) ?></span></h4>
        <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
            <h6><?php echo $this->__('How do you rate this product?') ?></h6>
            <span id="input-message-box"></span> 
            <table class="data-table" id="product-review-table">
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th><span class="nobr"><?php echo $this->__('1 star') ?></span></th>
                        <th><span class="nobr"><?php echo $this->__('2 stars') ?></span></th>
                        <th><span class="nobr"><?php echo $this->__('3 stars') ?></span></th>
                        <th><span class="nobr"><?php echo $this->__('4 stars') ?></span></th>
                        <th><span class="nobr"><?php echo $this->__('5 stars') ?></span></th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->getRatings() as $_rating): ?>
                    <tr>
                        <th><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></th>
                    <?php foreach ($_rating->getOptions() as $_option): ?>
                        <td class="value"><input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>" class="radio" /></td>
                    <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <input type="hidden" name="validate_rating" class="validate-rating" value="" />
        <?php endif; ?>
            <ul class="form-list">
                <li class="narrow">
                    <label for="nickname_field" class="required"><em>*</em><?php echo $this->__('Nickname') ?></label>
                    <div class="input-box">
                        <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="<?php echo $this->htmlEscape($data->getNickname()) ?>" />
                    </div>
                </li>
                <li class="narrow">
                    <label for="summary_field" class="required"><em>*</em><?php echo $this->__('Summary of Your Review') ?></label>
                    <div class="input-box">
                        <input type="text" name="title" id="summary_field" class="input-text required-entry" value="<?php echo $this->htmlEscape($data->getTitle()) ?>" />
                    </div>
                </li>
                <li>
                    <label for="review_field" class="required"><em>*</em><?php echo $this->__('Review') ?></label>
                    <div class="input-box">
                        <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry"><?php echo $this->htmlEscape($data->getDetail()) ?></textarea>
                    </div>
                </li>
            </ul>
            <div class="buttons-set">
                <button type="submit" title="<?php echo $this->__('Submit Review') ?>" class="button" onclick="return extendedReviewForm.submit(this)"><span><span><?php echo $this->__('Submit Review') ?></span></span></button>
            </div>
            <?php if(Mage::helper('itactica_extendedreviews')->getStaticBlock()):?>
            <div class="review-form-static-block">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId(Mage::helper('itactica_extendedreviews')->getStaticBlock())->toHtml()?>
            </div>
            <?php endif;?>
    </form>
    <script>
        var reviewStars = new PrettyReviewStars('product-review-table');
        var extendedReviewForm = new VarienForm('review-form');
        extendedReviewForm.submit = function(button) {
            if(this.validator && this.validator.validate()){
                ExtendedReviews.postReview(this.form);
            }
            return false;
        }.bind(extendedReviewForm);
        
        Validation.addAllThese(
        [
               ['validate-rating', '<?php echo $this->__('Please select one of each of the ratings above') ?>', function(v) {
                    var trs = $('product-review-table').select('tr');
                    var inputs;
                    var error = 1;

                    for( var j=0; j < trs.length; j++ ) {
                        var tr = trs[j];
                        if( j > 0 ) {
                            inputs = tr.select('input');

                            for( i in inputs ) {
                                if( inputs[i].checked == true ) {
                                    error = 0;
                                }
                            }

                            if( error == 1 ) {
                                return false;
                            } else {
                                error = 1;
                            }
                        }
                    }
                    return true;
                }]
        ]
        );
    </script>
    <?php else: ?>
    <p class="review-nologged" id="review-form">
        <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
    </p>
    <?php endif ?>
</div>