<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php if (Mage::helper('itactica_quickview')->isEnabled()): ?>
<div id="quickview-modal" class="reveal-modal quickview-modal" data-reveal aria-hidden="true" role="dialog">
	<div class="close-reveal-modal"></div>
	<div class="row quickview-content"></div>
</div>
<?php endif; ?>