<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 */
?>
<div class="row cart">
    <div class="small-12 medium-8 large-9 cart-items columns">
        <?php if (Mage::getModel('cms/block')->load('shopping_cart_block_1')->getIsActive()): ?>
            <div class="shopping-cart-block-1">
            <?php echo $this->getChildHtml('shopping_cart_block_1') ?>
            </div>
        <?php endif; ?>
        <h1><?php echo $this->__('Shopping Cart') ?></h1>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <?php echo $this->getChildHtml('form_before') ?>
        <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <table id="shopping-cart-table" class="data-table cart-table">
                <col width="1" />
                <col />
            <?php /*if ($this->helper('wishlist')->isAllowInCart()) : ?>
                <col width="1" />
            <?php endif*/ ?>
            <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <col width="1" />
            <?php endif; ?>
            <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <col width="1" />
            <?php endif; ?>
                <col width="1" />

            <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                <thead>
                    <tr>
                        <th rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>
                        <th rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>
                        <?php /*if ($this->helper('wishlist')->isAllowInCart()) : ?>
                        <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><span class="nobr"><?php echo $this->__('Move to Wishlist') ?></span></th>
                        <?php endif*/ ?>
                        <th class="a-center" colspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Unit Price') ?></span></th>
                        <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Qty') ?></th>
                    </tr>
                    <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                    <tr>
                        <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                        <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                    </tr>
                    <?php endif; ?>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="50" class="btn-continue-shopping">
                            <?php if($this->getContinueShoppingUrl()): ?>
                                <a title="<?php echo $this->__('Continue Shopping') ?>" class="link-continue" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')"><?php echo $this->__('Continue Shopping') ?></a>
                            <?php endif; ?>
                            <button type="submit" name="update_cart_action" data-cart-empty value="empty_cart" title="<?php echo $this->quoteEscape($this->__('Empty Cart')); ?>" class="button2 btn-empty" id="empty_cart_button"><span><span><?php echo $this->__('Empty Cart'); ?></span></span></button>
                            <!--[if lt IE 8]>
                            <input type="hidden" id="update_cart_action_container" />
                            <script type="text/javascript">
                            //<![CDATA[
                                Event.observe(window, 'load', function()
                                {
                                    // Internet Explorer (lt 8) does not support value attribute in button elements
                                    $emptyCartButton = $('empty_cart_button');
                                    $cartActionContainer = $('update_cart_action_container');
                                    if ($emptyCartButton && $cartActionContainer) {
                                        Event.observe($emptyCartButton, 'click', function()
                                        {
                                            $emptyCartButton.setAttribute('name', 'update_cart_action_temp');
                                            $cartActionContainer.setAttribute('name', 'update_cart_action');
                                            $cartActionContainer.setValue('empty_cart');
                                        });
                                    }

                                });
                            //]]>
                            </script>
                            <![endif]-->
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                <?php foreach($this->getItems() as $_item): ?>
                    <?php echo $this->getItemHtml($_item) ?>
                <?php endforeach ?>
                </tbody>
            </table>
            <script type="text/javascript">decorateTable('shopping-cart-table')</script>
        </form>
    </div>
    <div class="small-12 medium-4 large-3 cart-collaterals columns">
        <div class="buybox bg-box center">
            <?php echo $this->getChildHtml('totals'); ?>
            <?php if(!$this->hasError()): ?>
            <ul class="checkout-types">
            <?php foreach ($this->getMethods('methods') as $method): ?>
                <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                <li><?php echo $methodHtml; ?></li>
                <?php endif; ?>
            <?php endforeach; ?>
            </ul>
            <?php endif; ?>
        </div>
        <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
        <?php echo $this->getChildHtml('coupon') ?>
        <div class="shopping-cart-extra">
            <?php /* Extensions placeholder */ ?>
            <?php echo $this->getChildHtml('checkout.cart.extra') ?>
        </div>
        <script>
            if ($$('.shipping-form')[0]) {
                if ($('postcode') != undefined && !$('postcode').value
                    && ($('region_id').getValue() == '' && !$('region').value)) {
                    $$('.shipping-form').first().hide();
                }
                $$('.cart-collaterals > .shipping > h2').first().observe('click', function(){
                    Effect.toggle($(this).siblings('.shipping-form').first(),'slide',{duration:0.2});
                });
            }
            if ($$('.discount-form')[0]) {
                $$('.discount-form').first().hide();
                $$('#discount-coupon-form > .discount > h2').first().observe('click', function(){
                    Effect.toggle($(this).siblings('.discount-form').first(),'slide',{duration:0.2});
                });
            }
        </script>
    </div>
</div>
<?php echo $this->getChildHtml('crosssell') ?>
