<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Template for Mage_Customer_Block_Address_Book block
 * @var $test Mage_Customer_Block_Address_Book
 */
?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Address Book') ?></h1>
    <button type="button" title="<?php echo $this->__('Add New Address') ?>" class="button" onclick="window.location='<?php echo $this->getAddAddressUrl() ?>';"><span><span><?php echo $this->__('Add New Address') ?></span></span></button>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="row addresses-list">
    <div class="small-12 medium-6 box-head addresses-primary columns">
        <h2><?php echo $this->__('Default Addresses') ?></h2>
        <ol>
        <?php if($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling()): ?>
            <li class="box">
                <div class="box-title">
                    <h3>
                        <?php echo $this->__('Default Billing Address') ?> 
                        <span class="separator">|</span> 
                        <a class="icon-edit" href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>" title="<?php echo $this->__('Change Billing Address') ?>"><span class="hide"><?php echo $this->__('Change Billing Address') ?></span></a>
                    </h3>
                </div>
                <div class="box-content">
                    <address>
                        <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
                    </address>
                </div>
           </li>
        <?php else: ?>
            <li class="box">
                <div class="box-title">
                    <h3><?php echo $this->__('Default Billing Address') ?></h3>
                </div>
                <div class="box-content">
                    <p><?php echo $this->__('You have no default billing address in your address book.') ?></p>
                </div>
            </li>
        <?php endif ?>

        <?php if($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping()): ?>
            <li class="box">
                <div class="box-title">
                    <h3>
                        <?php echo $this->__('Default Shipping Address') ?> 
                        <span class="separator">|</span> 
                        <a class="icon-edit" href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>" title="<?php echo $this->__('Change Shipping Address') ?>"><span class="hide"><?php echo $this->__('Change Shipping Address') ?></span></a>
                    </h3>
                </div>
                <div class="box-content">
                    <address>
                        <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
                    </address>
                </div>
            </li>
        <?php else: ?>
            <li class="box empty">
                <div class="box-title">
                    <h3><?php echo $this->__('Default Shipping Address') ?></h3>
                </div>
                <div class="box-content">
                    <p><?php echo $this->__('You have no default shipping address in your address book.') ?></p>
                </div>
            </li>
        <?php endif ?>
        </ol>
    </div>
    <div class="small-12 medium-6 box-head addresses-additional columns">
        <h2><?php echo $this->__('Additional Address Entries') ?></h2>
        <ol>
        <?php if($_pAddsses = $this->getAdditionalAddresses()): ?>
            <?php $i=1; foreach($_pAddsses as $_address): ?>
            <li class="box">
                <div class="box-title">
                    <h3>
                        <?php echo $this->__('Additional Address %d', $i) ?> 
                        <span class="separator">|</span> 
                        <a class="icon-edit" href="<?php echo $this->getUrl('customer/address/edit', array('id'=>$_address->getId())) ?>" title="<?php echo $this->__('Edit Address') ?>"><span class="hide"><?php echo $this->__('Edit Address') ?></span></a> 
                        <span class="separator">&nbsp;</span> 
                        <a class="icon-trash" href="#" class="link-remove" onclick="return deleteAddress('<?php echo $_address->getId() ?>');" title="<?php echo $this->__('Delete Address') ?>"><span class="hide"><?php echo $this->__('Delete Address') ?></span></a>
                    </h3>
                </div>
                <div class="box-content">
                    <address>
                        <?php echo $this->getAddressHtml($_address) ?>
                    </address>
                </div>
            </li>
            <?php $i++; endforeach; ?>
        <?php else: ?>
            <li class="box empty">
                <div class="box-title">
                    <h3><?php echo $this->__('Additional Address %d', 1) ?></h3>
                </div>
                <div class="box-content">
                    <p><?php echo $this->__('You have no additional address entries in your address book.') ?></p>
                </div>
            </li>
        <?php endif ?>
        </ol>
    </div>
</div>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
<script type="text/javascript">
//<![CDATA[
    function deleteAddress(addressId) {
        if(confirm('<?php echo $this->__('Are you sure you want to delete this address?') ?>')) {
            window.location='<?php echo $this->getDeleteUrl() ?>id/'+addressId;
        }
        return false;
    }
//]]>
</script>
