<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Edit customer address template
 *
 * @see Mage_Customer_Block_Address_Edit
 */
?>
<div class="row">
    <div class="small-12 checkout-multishipping columns">
        <?php if($this->getTitle()): ?>
        <div class="page-title">
            <h2 class="center"><?php echo $this->getTitle() ?></h2>
        </div>
        <?php endif; ?>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <div class="form-box wide">
            <form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate">
                <div class="fieldset">
                <?php echo $this->getBlockHtml('formkey')?>
                <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
                <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
                    <h2 class="legend"><?php echo $this->__('Contact Information') ?></h2>
                    <ul class="form-list clearfix">
                        <li class="fields">
                            <?php echo $this->getNameBlockHtml() ?>
                        </li>
                        <li class="wide">
                            <label for="company"><?php echo $this->__('Company') ?></label>
                            <div class="input-box">
                                <input type="text" name="company" id="company" title="<?php echo $this->__('Company') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field">
                                <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                                <div class="input-box">
                                    <input type="text" name="telephone" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="telephone" />
                                </div>
                            </div>
                            <?php /* Fax field removed to simplify checkout */ ?>
                            <?php /*
                            <div class="field">
                                <label for="fax"><?php echo $this->__('Fax') ?></label>
                                <div class="input-box">
                                    <input type="text" name="fax" id="fax" title="<?php echo $this->__('Fax') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" />
                                </div>
                            </div>
                            */ ?>
                        </li>
                    </ul>
                </div>
                <div class="fieldset">
                    <h2 class="legend"><?php echo $this->__('Address') ?></h2>
                    <ul class="form-list clearfix">
                    <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                        <li class="wide">
                            <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li class="wide">
                            <div class="input-box">
                                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                            </div>
                        </li>
                    <?php endfor; ?>
                        <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                        <li class="wide">
                            <label for="vat_id"><?php echo $this->__('VAT Number') ?></label>
                            <div class="input-box">
                                <input type="text" name="vat_id" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" id="vat_id" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                            </div>
                        </li>
                        <?php endif; ?>
                        <li class="fields">
                            <div class="field">
                                <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                                <div class="input-box">
                                    <input type="text" name="city" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
                                </div>
                            </div>
                            <div class="field state-province-field">
                                <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                                <div class="input-box">
                                    <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                       <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                    </select>
                                    <script>
                                        $('region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                    </script>
                                    <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" />
                                </div>
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field">
                                <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                                <div class="input-box">
                                    <input type="text" name="postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                                <div class="input-box">
                                    <?php echo $this->getCountryHtmlSelect() ?>
                                </div>
                            </div>
                        </li>
                        <li<?php if($this->canSetAsDefaultBilling()) echo ' class="control"' ?>>
                            <?php if($this->isDefaultBilling()): ?>
                                <strong><?php echo $this->__('Default Billing Address') ?></strong>
                            <?php elseif($this->canSetAsDefaultBilling()): ?>
                                <input type="checkbox" id="primary_billing" name="default_billing" value="1" title="<?php echo $this->__('Use as My Default Billing Address') ?>" class="checkbox" /><label for="primary_billing"><?php echo $this->__('Use as my default billing address') ?></label>
                            <?php else: ?>
                                <input type="hidden" name="default_billing" value="1" />
                            <?php endif; ?>
                        </li>
                        <li<?php if($this->canSetAsDefaultShipping()) echo ' class="control"' ?>>
                            <?php if($this->isDefaultShipping()): ?>
                                <strong><?php echo $this->__('Default Shipping Address') ?></strong>
                            <?php elseif($this->canSetAsDefaultShipping()): ?>
                                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" title="<?php echo $this->__('Use as My Default Shipping Address') ?>" class="checkbox" /><label for="primary_shipping"><?php echo $this->__('Use as my default shipping address') ?></label>
                            <?php else: ?>
                                <input type="hidden" name="default_shipping" value="1" />
                            <?php endif; ?>
                        </li>
                    </ul>
                </div>
                <div class="buttons-set">
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <button data-action="save-customer-address" type="submit" title="<?php echo $this->__('Save Address') ?>" class="button"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
                    <a class="arrow-left" href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><?php echo $this->__('Back') ?></a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var dataForm = new VarienForm('form-validate', true);
    var addressRegionUpdater = new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');

    <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>
    jQuery(function() {
        jQuery('#country').on('change keyup', function(event) {
            addressRegionUpdater.update();
        });
        if (canUseChosen()) {
            // fix RegionUpdater for chosen.js
            Object.extend(Validation, {
                isVisible : function(elm) {
                    while(elm.tagName != 'BODY') {
                        // validate region hidden select box
                        if (elm.id == 'region_id') {
                            if ((elm.id == 'region_id' && !($('region_id_chosen').visible()))) {
                                return false;
                            }
                            return true;
                        }
                        if(!$(elm).visible()) return false;
                        elm = elm.parentNode;
                    }
                    return true;
                }    
            });

            addressRegionUpdater.update = addressRegionUpdater.update.wrap(function(parentMethod){
                // parent "update" method call
                parentMethod();
                 
                // after "update" method fires
                addressRegionUpdater.regionSelectEl.hide();
                var regionChosen = jQuery('#region_id_chosen');
                if(addressRegionUpdater.regionTextEl.visible()) {
                    regionChosen.hide();
                    regionChosen.parent('.input-box-select').removeClass('input-box-select');
                    regionChosen.parent().parent('.select-list').removeClass('select-list');
                } else {
                    regionChosen.show();
                    regionChosen.parent().addClass('input-box-select');
                    regionChosen.parent().parent().addClass('select-list');
                    jQuery('#region_id').trigger("chosen:updated");
                }
            });
            jQuery('#region_id').on('change keyup', function(event) {
                jQuery('#region').val(jQuery(this).children("option").filter(":selected").text());
            });
            addressRegionUpdater.update();
        
        } else {
            addressRegionUpdater.update = addressRegionUpdater.update.wrap(function(parentMethod){
                // parent "update" method call
                parentMethod();
                 
                // after "update" method fires
                if(addressRegionUpdater.regionTextEl.visible()) {
                    jQuery('.state-province-field').removeClass('select-list');
                    jQuery('.state-province-field > .input-box').removeClass('input-box-select');
                } else {
                    jQuery('.state-province-field').addClass('select-list');
                    jQuery('.state-province-field > .input-box').addClass('input-box-select');
                }
            });
            addressRegionUpdater.update();
        }

        function canUseChosen() {
            if (window.navigator.appName === "Microsoft Internet Explorer") {
                return document.documentMode >= 8;
            }
            if (/iP(od|hone)/i.test(window.navigator.userAgent)) {
                return false;
            }
            if (/Android/i.test(window.navigator.userAgent)) {
                if (/Mobile/i.test(window.navigator.userAgent)) {
                    return false;
                }
            }
            return true;
        }
    });
    <?php endif; ?>
</script>
