<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
/** @var Mage_Checkout_Block_Onepage_Billing $this */
?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="row">
    <div class="small-12 paypal-review-page columns">
        <h1 class="center"><?php echo $this->__('Review Order') ?></h1>
        <div class="form-box wide">
<?php if ($this->getShippingAddress()): ?>
            <h6 class="legend"><?php echo $this->__('Shipping Information') ?></h6>
            <ol>
                <li class="box">
                    <div class="box-title">
                        <h3><?php echo $this->__('Shipping Address') ?><span class="separator"><?php if ($this->getCanEditShippingAddress()):?> | </span><a class="icon-edit" href="<?php echo $this->getEditUrl() ?>" title="<?php echo $this->__('Edit') ?>"><span class="hide"><?php echo $this->__('Edit') ?></span></a><?php endif;?></h3>
                    </div>
                    <div class="box-content">
                        <address><?php echo $this->renderAddress($this->getShippingAddress())?></address>
                    </div>
                </li>
                <li class="box">
                    <div class="box-title">
                        <h3><?php echo $this->__('Shipping Method') ?></h3>
                    </div>
                    <div class="box-content">
                        <form method="post" id="shipping_method_form" action="<?php echo $this->escapeHtml($this->getShippingMethodSubmitUrl()) ?>">
                            <?php if ($this->getCanEditShippingMethod() || !$this->getCurrentShippingRate()):?>
                                <?php if ($groups = $this->getShippingRateGroups()):?>
                                    <?php $currentRate = $this->getCurrentShippingRate(); ?>
                                    <fieldset>
                                        <select name="shipping_method" id="shipping_method" style="width:250px;" class="required-entry simulate-change">
                                            <?php if (!$currentRate):?>
                                                <option value=""><?php echo $this->__('Please select a shipping method...') ?></option>
                                            <?php endif;?>
                                            <?php foreach ($groups as $code => $rates):?>
                                                <optgroup label="<?php echo $this->escapeHtml($this->getCarrierName($code)) ?>" style="font-style:normal;">
                                                    <?php foreach ($rates as $rate):?>
                                                        <option value="<?php echo $this->renderShippingRateValue($rate)?>"<?php echo ($currentRate === $rate) ? ' selected="selected"' : '' ;?>>
                                                            <?php echo $this->renderShippingRateOption($rate)?>
                                                        </option>
                                                    <?php endforeach;?>
                                                </optgroup>
                                            <?php endforeach;?>
                                        </select>
                                    </fieldset>
                                    <p class="actions">
                                        <button id="update_shipping_method_submit" type="submit" class="button"><span><span><?php echo $this->__('Update Shipping Method') ?></span></span></button>
                                    </p>
                                <?php else: ?>
                                    <p><strong><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></strong></p>
                                <?php endif;?>
                            <?php else: ?>
                                <p><strong><?php echo $this->renderShippingRateOption($this->getCurrentShippingRate())?></strong></p>
                            <?php endif; ?>
                        </form>
                    </div>
                </li>
            </ol>

<?php endif; ?>

            <h6 class="legend"><?php echo $this->__('Billing Information') ?></h6>
            <ol>
                <li class="box">
                    <div class="box-title">
                        <h3><?php echo $this->__('Payment Method') ?> <span class="separator">|</span>
                    <?php if($this->getEditUrl()):?><a class="icon-edit" href="<?php echo $this->getEditUrl() ?>" title="<?php echo $this->__('Edit Payment Information') ?>"><span class="hide"><?php echo $this->__('Edit Payment Information') ?></span></a> <?php endif ?>
                        </h3>
                    </div>
                    <div class="box-content">
                        <?php echo $this->escapeHtml($this->getPaymentMethodTitle()) ?>
                    </div>
                </li>
            </ol>

            <div class="info-set">
                <h2 class="legend"><?php echo $this->__('Items in Your Shopping Cart') ?><span class="separator"> | </span><a class="icon-edit" href="<?php echo $this->getUrl('checkout/cart') ?>" title="<?php echo $this->__('Edit Shopping Cart') ?>"><span class="hide"><?php echo $this->__('Edit Shopping Cart') ?></span></a></h2>
                <div id="details-reload">
                    <?php echo $this->getChildHtml('details') ?>
                </div>
            </div>
            <form method="post" id="order_review_form" action="<?php echo $this->getPlaceOrderUrl() ?>">
                <?php echo $this->getChildHtml('agreements'); ?>
                <div class="buttons-set buttons-set-order" id="review-buttons-container">
                    <span id="review-please-wait" class="please-wait" style="display:none;">
                        <span class="spinner"></span>
                        <span><?php echo $this->__('Loading next step...') ?></span>
                    </span>
                    <button type="button" id="review_button" value="<?php echo $this->__('Place Order') ?>" class="button btn-checkout"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
                    <button type="button" id="review_submit" value="<?php echo $this->__('Place Order') ?>" class="button btn-checkout"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    // submit buttons are not needed when submitting with ajax
    $('review_submit').hide();
    if ($('update_shipping_method_submit')) {
        $('update_shipping_method_submit').hide();
    }

    <?php if ($this->getUseAjax()):?>
    OrderReviewController.prototype._submitOrder = function() {
        if (this._canSubmitOrder) {
            if (this._pleaseWait) {
                this._pleaseWait.show();
            }
            new Ajax.Request(this.form.action, {
                parameters: {isAjax: 1, method: 'POST'},
                onSuccess: function(transport) {
                    try{
                        response = eval('(' + transport.responseText + ')');
                    } catch (e) {
                        response = {};
                    }
                    if (response.redirect) {
                        setLocation(response.redirect);
                        return;
                    }
                    if (response.success) {
                        setLocation('<?php echo $this->getSuccessUrl()?>');
                        return;
                    } else {
                        var msg = response.error_messages;
                        if (typeof(msg)=='object') {
                            msg = msg.join("\n");
                        }
                        if (msg) {
                            $('review-please-wait').hide();
                            alert(msg);
                            return;
                        }
                    }
                    $('review-please-wait').hide();
                    alert('<?php echo $this->jsQuoteEscape($this->__('Unknown Error. Please try again later.')); ?>');
                    return;
                },
                onFailure: function(){
                    alert('<?php echo $this->jsQuoteEscape($this->__('Server Error. Please try again.')) ?>');
                    $('review-please-wait').hide();
                }
            });
        }
    }
    <?php endif ?>

    PayPalExpressAjax = new OrderReviewController($('order_review_form'), $('review_button'),
        $('shipping_method'), $('shipping_method_form'), 'details-reload'
    );
    PayPalExpressAjax.addPleaseWait($('review-please-wait'));
    //]]>
</script>
