<?php
/**
 * Intenso Premium Theme
 * 
 * @category    Itactica
 * @package     Itactica_ExtendedReviews
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<div class="page-sitemap">
    <div class="page-title">
        <h1><?php echo $this->getTitle() ?></h1>
    </div>
    <div class="row">
        <div class="small-12 columns" id="sitemap_top_links">
            <?php echo $this->getChildHtml('links') ?>
        </div>
        <div class="small-12 columns">
            <?php echo $this->getChildHtml('pager_top') ?>
        </div>
        <div class="small-12 columns">
            <?php echo $this->getChildHtml('sitemap') ?>
        </div>
        <div class="small-12 columns">
            <?php echo $this->getChildHtml('links') ?>
        </div>
        <div class="small-12 columns">
            <?php echo $this->getChildHtml('pager_bottom') ?>
        </div>
    </div>
</div>
