<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
/* @var $this Mage_Core_Block_Template */
/* @var $catalogSearchHelper Mage_Catalogsearch_Helper_Data */
?>
<?php $catalogSearchHelper =  $this->helper('catalogsearch'); ?>
<div class="search-box">
    <input type="text" class="input-text placeholder" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" id="search" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
    <label for="search"><?php echo $this->__('Search entire store here...') ?></label>
    <div class="left"></div>
    <div class="right"></div>
    <div class="bottom"></div>
    <div class="search-autocomplete" id="search_autocomplete"></div>
    <script type="text/javascript">
    //<![CDATA[
        var searchForm = new Varien.searchForm('search_mini_form', 'search', '');
        searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl() ?>', 'search_autocomplete');
    //]]>
    </script>
</div>
