<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Advanced search results navigation
 *
 * @see Itactica_Intenso_Block_CatalogSearch_Advanced_Nav
 */
?>
<nav class="layered-nav-container top-bar left-off-canvas-menu main-nav<?php if(Mage::getStoreConfig('itactica_layerednavigation/catalog/layered_nav_expanded')): ?> open<?php endif; ?><?php if(Mage::getStoreConfig('itactica_layerednavigation/catalog/remember_filter_display')): ?> remember<?php endif; ?>" data-topbar>
    <section class="layered-nav top-bar-section">
        <?php echo $this->getChildHtml('product_list_sorter'); ?>
        <div class="block-content">
            <form action="<?php echo $this->getUrl('catalogsearch/advanced/result'); ?>" method="get" id="form-validate">
                <div class="fieldset advanced-search">
                    <h2 class="legend"><?php echo $this->__('Search Settings') ?></h2>
                    <ul class="form-list" id="advanced-search-list">
                        <?php foreach ($this->getSearchableAttributes() as $_attribute): ?>
                        <?php $_code = $_attribute->getAttributeCode() ?>

                            <?php switch($this->getAttributeInputType($_attribute)):
                                case 'number': ?>
                                <li class="input-range">
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?> <?php echo $this->__('from') ?></label>
                                    <div class="input-box">
                                        <input type="text" name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number"  />
                                    </div>
                                    <span class="separator">-</span>
                                </li>
                                <li class="input-range">
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?> <?php echo $this->__('to') ?></label>
                                    <div class="input-box">
                                        <input type="text" name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number"  />
                                    </div>
                                </li>
                                <?php break;
                                case 'price': ?>
                                <li class="input-range">
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?> <?php echo $this->__('from') ?></label>
                                    <div class="input-box">
                                        <input name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" />
                                    </div>
                                </li>
                                <li class="input-range">
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?> <?php echo $this->__('to') ?></label>
                                    <div class="input-box">
                                        <input name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" />
                                    </div>
                                    <small>(<?php echo $this->getCurrency($_attribute); ?>)</small>
                                </li>
                                <?php break;
                                case 'select': ?>
                                <li class="regular-field">
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?></label>
                                    <div>
                                        <?php echo $this->getAttributeSelectElement($_attribute) ?>
                                    </div>
                                </li>
                                <?php break;
                                case 'yesno': ?>
                                <li class="regular-field">
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?></label>
                                    <?php echo $this->getAttributeYesNoElement($_attribute) ?>
                                </li>
                                <?php break;
                                case 'date': ?>
                                <li class="input-range">
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?> <?php echo $this->__('from') ?></label>
                                    <div class="input-box">
                                        <?php echo $this->getDateInput($_attribute, 'from') ?>
                                    </div>
                                    <span class="separator">-</span>
                                </li>
                                <li class="input-range">
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?> <?php echo $this->__('to') ?></label>
                                    <div class="input-box">
                                        <?php echo $this->getDateInput($_attribute, 'to') ?>
                                    </div>
                                </li>
                                <?php break;
                                default: ?>
                                <li>
                                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?></label>
                                    <div class="input-box">
                                        <input type="text" name="<?php echo $_code ?>" id="<?php echo $_code ?>" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute)) ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text <?php echo $this->getAttributeValidationClass($_attribute) ?>" />
                                    </div>
                                </li>
                            <?php endswitch; ?>

                        <?php endforeach; ?>
                    </ul>
                    <script type="text/javascript">decorateList('advanced-search-list')</script>
                </div>
                <div class="buttons-set">
                    <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
                </div>
            </form>
        </div>
    </section>
</nav>
