/**
 * Intenso Premium Theme
 *
 * @category    Itactica
 * @package     Itactica_Intenso
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

@font-face {
	font-family: intenso;
	src:url("../fonts/intenso.eot?9z30zu");
	src:url("../fonts/intenso.eot?#iefix9z30zu") format("embedded-opentype"),
		url("../fonts/intenso.woff?9z30zu") format("woff"),
		url("../fonts/intenso.ttf?9z30zu") format("truetype"),
		url("../fonts/intenso.svg?9z30zu#intenso") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { /* Required for Chrome to render icons properly */
    @font-face {
        font-family: intenso;
        src: url("../fonts/intenso.svg?9z30zu#intenso") format("svg");
    }
}
[class^="icon-"], [class*=" icon-"] {
	font-family: intenso;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-feed:before,
.link-rss:before { content: "\e61b"; color: #E87E04; }
.icon-email-2:before { content: "\e60e"; }
.icon-phone:before { content: "\e601"; }
.icon-sec-menu:before { content: "\e605"; }
.icon-list:before { content: "\e619"; }
.icon-grid:before { content: "\e61a"; }
.icon-checkbox-checked:before { content: "\e617"; }
.icon-checkbox:before { content: "\e618"; }
.icon-mapmarker:before { content: "\e60f"; }
.icon-googleplus:before { content: "\e610"; }
.icon-pinterest:before { content: "\e611"; }
.icon-youtube:before { content: "\e612"; }
.icon-instagram:before { content: "\e613"; }
.icon-twitter:before { content: "\e614"; }
.icon-facebook:before { content: "\e615"; }
.icon-email:before { content: "\e616"; }
.icon-compare:before { content: "\e60d"; }
.icon-heart:before { content: "\e60c"; }
.icon-wrench:before { content: "\e60b"; }
.icon-gear:before { content: "\e60a"; }
.icon-puzzle:before { content: "\e609"; }
.icon-home:before { content: "\e608"; }
.icon-user:before { content: "\e607"; }
.icon-main-menu:before { content: "\e606"; }
.icon-close:before { content: "\e604"; }
.icon-edit:before { content: "\e603"; }
.icon-cart:before { content: "\e602"; }
.icon-search:before { content: "\e600"; }
.icon-padlock:before { content: "\e6fb"; }
.icon-vimeo:before { content: "\e61c"; }
.icon-linkedin:before { content: "\e622"; }
.icon-office:before { content: "\e623"; }
.icon-newspaper:before { content: "\e624"; }
.icon-pencil:before { content: "\e625"; }
.icon-pencil2:before { content: "\e626"; }
.icon-quill:before { content: "\e627"; }
.icon-pen:before { content: "\e628"; }
.icon-droplet:before { content: "\e629"; }
.icon-paint-format:before { content: "\e62a"; }
.icon-image:before { content: "\e62b"; }
.icon-image2:before { content: "\e62c"; }
.icon-images:before { content: "\e62d"; }
.icon-camera:before { content: "\e62e"; }
.icon-music:before { content: "\e62f"; }
.icon-play:before { content: "\e630"; }
.icon-film:before { content: "\e631"; }
.icon-camera2:before { content: "\e632"; }
.icon-dice:before { content: "\e633"; }
.icon-bullhorn:before { content: "\e634"; }
.icon-book:before { content: "\e635"; }
.icon-books:before { content: "\e636"; }
.icon-library:before { content: "\e637"; }
.icon-file:before { content: "\e638"; }
.icon-profile:before { content: "\e639"; }
.icon-file2:before { content: "\e63a"; }
.icon-file3:before { content: "\e63b"; }
.icon-folder:before { content: "\e63c"; }
.icon-folder-open:before { content: "\e63d"; }
.icon-tag:before { content: "\e63e"; }
.icon-tags:before { content: "\e63f"; }
.icon-barcode:before { content: "\e640"; }
.icon-qrcode:before { content: "\e641"; }
.icon-ticket:before { content: "\e642"; }
.icon-cart2:before { content: "\e643"; }
.icon-cart3:before { content: "\e644"; }
.icon-cart4:before { content: "\e645"; }
.icon-coin:before { content: "\e646"; }
.icon-credit:before { content: "\e647"; }
.icon-calculate:before { content: "\e648"; }
.icon-support:before { content: "\e649"; }
.icon-address-book:before { content: "\e64a"; }
.icon-notebook:before { content: "\e64b"; }
.icon-pushpin:before { content: "\e64c"; }
.icon-location:before { content: "\e64d"; }
.icon-location2:before { content: "\e64e"; }
.icon-compass:before { content: "\e64f"; }
.icon-map:before { content: "\e650"; }
.icon-map2:before { content: "\e651"; }
.icon-history:before { content: "\e652"; }
.icon-clock:before { content: "\e653"; }
.icon-clock2:before { content: "\e654"; }
.icon-alarm:before { content: "\e655"; }
.icon-alarm2:before { content: "\e656"; }
.icon-bell:before { content: "\e657"; }
.icon-stopwatch:before { content: "\e658"; }
.icon-calendar:before { content: "\e659"; }
.icon-calendar2:before { content: "\e65a"; }
.icon-print:before,
.link-print:before { content: "\e620"; }
.icon-keyboard:before { content: "\e65b"; }
.icon-screen:before { content: "\e65c"; }
.icon-laptop:before { content: "\e65d"; }
.icon-mobile:before { content: "\e65e"; }
.icon-mobile2:before { content: "\e65f"; }
.icon-tablet:before { content: "\e660"; }
.icon-tv:before { content: "\e661"; }
.icon-drawer:before { content: "\e662"; }
.icon-box-add:before { content: "\e663"; }
.icon-box-remove:before { content: "\e664"; }
.icon-download:before { content: "\e665"; }
.icon-upload:before { content: "\e666"; }
.icon-disk:before { content: "\e667"; }
.icon-undo:before { content: "\e668"; }
.icon-redo:before { content: "\e669"; }
.icon-forward:before { content: "\e66a"; }
.icon-reply:before { content: "\e66b"; }
.icon-bubble:before { content: "\e66c"; }
.icon-bubbles:before { content: "\e66d"; }
.icon-bubbles2:before { content: "\e66e"; }
.icon-bubble2:before { content: "\e66f"; }
.icon-bubbles3:before { content: "\e670"; }
.icon-bubbles4:before { content: "\e671"; }
.icon-user2:before { content: "\e672"; }
.icon-users:before { content: "\e673"; }
.icon-user3:before { content: "\e674"; }
.icon-users2:before { content: "\e675"; }
.icon-user4:before { content: "\e676"; }
.icon-user5:before { content: "\e677"; }
.icon-quotes-left:before { content: "\e678"; }
.icon-busy:before {	content: "\e679"; }
.icon-binoculars:before { content: "\e67a"; }
.icon-zoomin:before { 	content: "\e67b"; }
.icon-zoomout:before { 	content: "\e67c"; }
.icon-key:before { content: "\e67d"; }
.icon-key2:before { content: "\e67e"; }
.icon-settings:before { content: "\e67f"; }
.icon-equalizer:before { content: "\e680"; }
.icon-cogs:before { content: "\e681"; }
.icon-wand:before { content: "\e682"; }
.icon-aid:before { content: "\e683"; }
.icon-bug:before { content: "\e684"; }
.icon-pie:before { content: "\e685"; }
.icon-stats:before { content: "\e686"; }
.icon-bars:before { content: "\e687"; }
.icon-gift:before { content: "\e688"; }
.icon-trophy:before { content: "\e689"; }
.icon-glass:before { content: "\e68a"; }
.icon-mug:before { content: "\e68b"; }
.icon-food:before { content: "\e68c"; }
.icon-leaf:before { content: "\e68d"; }
.icon-rocket:before { content: "\e68e"; }
.icon-meter:before { content: "\e68f"; }
.icon-meter2:before { content: "\e690"; }
.icon-dashboard:before { content: "\e691"; }
.icon-hammer:before { content: "\e692"; }
.icon-fire:before { content: "\e693"; }
.icon-lab:before { content: "\e694"; }
.icon-magnet:before { content: "\e695"; }
.icon-briefcase:before { content: "\e696"; }
.icon-airplane:before { content: "\e697"; }
.icon-truck:before { content: "\e698"; }
.icon-road:before { content: "\e699"; }
.icon-target:before { content: "\e69a"; }
.icon-shield:before { content: "\e69b"; }
.icon-lightning:before { content: "\e69c"; }
.icon-switch:before { content: "\e69d"; }
.icon-powercord:before { content: "\e69e"; }
.icon-signup:before { content: "\e69f"; }
.icon-list2:before { content: "\e6a0"; }
.icon-list3:before { content: "\e6a1"; }
.icon-numbered-list:before { content: "\e6a2"; }
.icon-cloud:before { content: "\e6a3"; }
.icon-cloud-download:before { content: "\e6a4"; }
.icon-cloud-upload:before { content: "\e6a5"; }
.icon-globe:before { content: "\e6a6"; }
.icon-earth:before { content: "\e6a7"; }
.icon-link:before { content: "\e6a8"; }
.icon-flag:before { content: "\e6a9"; }
.icon-attachment:before { content: "\e6aa"; }
.icon-eye:before { content: "\e61d"; }
.icon-star:before { content: "\e6ab"; }
.icon-thumbs-up:before { content: "\e6ac"; }
.icon-thumbs-up2:before { content: "\e6ad"; }
.icon-happy:before { content: "\e6ae"; }
.icon-smiley:before { content: "\e6af"; }
.icon-sad:before { content: "\e6b0"; }
.icon-point-up:before { content: "\e6b1"; }
.icon-point-right:before { content: "\e6b2"; }
.icon-point-down:before { content: "\e6b3"; }
.icon-point-left:before { content: "\e6b4"; }
.icon-warning:before { content: "\e6b5"; }
.icon-notification:before { content: "\e621"; }
.icon-question:before { content: "\e6b6"; }
.icon-info:before { content: "\e6b7"; }
.icon-info2:before { content: "\e6b8"; }
.icon-blocked:before { content: "\e6b9"; }
.icon-close2:before { content: "\e6ba"; }
.icon-checkmark:before { content: "\e6bb"; }
.icon-minus:before { content: "\e6bc"; }
.icon-plus:before { content: "\e6bd"; }
.icon-enter:before { content: "\e6be"; }
.icon-exit:before { content: "\e6bf"; }
.icon-loop2:before { content: "\e6c0"; }
.icon-loop:before { content: "\e61f"; color: #A1BA16; }
.icon-loop3:before { content: "\e6c1"; }
.icon-shuffle:before { content: "\e6c2"; }
.icon-arrow-up-left:before { content: "\e6c3"; }
.icon-arrow-up:before { content: "\e6c4"; }
.icon-arrow-up-right:before { content: "\e6c5"; }
.icon-arrow-right:before { content: "\e6c6"; }
.icon-arrow-down-right:before { content: "\e6c7"; }
.icon-arrow-down:before { content: "\e6c8"; }
.icon-arrow-down-left:before { content: "\e6c9"; }
.icon-arrow-left:before { content: "\e6ca"; }
.icon-arrow-up-left2:before { content: "\e6cb"; }
.icon-arrow-up2:before { content: "\e6cc"; }
.icon-arrow-up-right2:before { content: "\e6cd"; }
.icon-arrow-right2:before { content: "\e6ce"; }
.icon-arrow-down-right2:before { content: "\e6cf"; }
.icon-arrow-down2:before { content: "\e6d0"; }
.icon-arrow-down-left2:before { content: "\e6d1"; }
.icon-arrow-left2:before { content: "\e6d2"; }
.icon-arrow-up-left3:before { content: "\e6d3"; }
.icon-arrow-up3:before { content: "\e6d4"; }
.icon-arrow-up-right3:before { content: "\e6d5"; }
.icon-arrow-right3:before { content: "\e6d6"; }
.icon-arrow-down-right3:before { content: "\e6d7"; }
.icon-arrow-down3:before { content: "\e6d8"; }
.icon-arrow-down-left3:before { content: "\e6d9"; }
.icon-arrow-left3:before { content: "\e6da"; }
.icon-scissors:before { content: "\e6db"; }
.icon-filter:before { content: "\e6dc"; }
.icon-filter2:before { content: "\e6dd"; }
.icon-bold:before { content: "\e6de"; }
.icon-underline:before { content: "\e6df"; }
.icon-italic:before { content: "\e6e0"; }
.icon-table:before { content: "\e6e1"; }
.icon-paragraph-left:before { content: "\e6e2"; }
.icon-paragraph-center:before { content: "\e6e3"; }
.icon-paragraph-right:before { content: "\e6e4"; }
.icon-paragraph-justify:before { content: "\e6e5"; }
.icon-picassa:before { content: "\e6e6"; }
.icon-android:before { content: "\e6e7"; }
.icon-windows:before { content: "\e6e8"; }
.icon-windows8:before { content: "\e6e9"; }
.icon-paypal:before { content: "\e6ea"; }
.icon-libreoffice:before { content: "\e6eb"; }
.icon-file-pdf:before { content: "\e6ec"; }
.icon-file-openoffice:before { content: "\e6ed"; }
.icon-file-word:before { content: "\e6ee"; }
.icon-file-excel:before { content: "\e6ef"; }
.icon-file-zip:before { content: "\e6f0"; }
.icon-file-powerpoint:before { content: "\e6f1"; }
.icon-file-xml:before { content: "\e6f2"; }
.icon-file-css:before { content: "\e6f3"; }
.icon-html5:before { content: "\e6f4"; }
.icon-chrome:before { content: "\e6f5"; }
.icon-firefox:before { content: "\e6f6"; }
.icon-IE:before { content: "\e6f7"; }
.icon-opera:before { content: "\e6f8"; }
.icon-safari:before { content: "\e6f9"; }
.icon-IcoMoon:before { content: "\e6fa"; }
.icon-trash:before { content: "\e61e"; color: #F22613; }
.icon-trash:hover:before { color: #CF000F; }
.icon-vk:before { content: "\e900"; }
