<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<div class="row page-title clearfix">
    <div class="small-5 medium-6 large-4 columns">
        <h3><?php echo $this->__('My Account'); ?></h3>
    </div>
    <div class="actions small-7 medium-6 large-4 columns">
        <div class="action-for-small-only">
            <a class="button left-off-canvas-toggle filter-toggle"><?php echo $this->__('Account menu'); ?></a>
        </div>
    </div>
    <div class="small-12 medium-12 large-4 columns"></div>
</div>
